.weather-app {
  max-width: 1000px;
  margin: 20px auto;
}
h1 {
  font-size: 45px;
  font-weight: 100;
  color: #455d7a;
  margin-top: 5px;
  margin-bottom: 3px;
}
h2,
h3 {
  font-size: 20px;
  font-weight: 100;
  color: #455d7a;
}
li {
  list-style-type: none;
  opacity: 0.9;
}
a {
  text-decoration: none;
}
#celcius-link {
  margin-left: 5px;
}
.weather-temp #celcius-link {
  color: rgb(33, 33, 33);
}
.weather-temp .units {
  position: relative;
  margin-left: -5px;
  font-size: 20px;
  top: -19px;
}

.weather-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
p {
  text-align: center;
  margin-top: -10px;
  color: white;
}

body {
  background-image: url("images/leafs.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "PT Serif", serif;
}
.card-body {
  background-image: url("images/sky2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.col {
  text-align: center;
}
.wrapper {
  margin: 0 auto;
}

.weather-forecast-date {
  font-size: 21px;
  color: #455d7a;
}
.weather-forecast-temperatures {
  font-size: 18px;
  margin-top: -10px;
}
.forecast-temp-min {
  opacity: 0.8;
}
